*{
    margin: 0;
    padding: 0;
}
                                        /* MENU */
      /* ()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()()*/
      .nav-menu{
        width: 100%;
        height: 90px;
        background-color: #efc257;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Edu NSW ACT Foundation', cursive;
    }
    .nav-menu-l{
        width: 12%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-menu-l-1{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu-l-1 img{
        height: 80%;
    }
    .nav-menu-l-2{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .a-index-m{
        width: 80%;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }   
    .nav-menu-t{
        width: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 50px;
        font-family: 'Edu NSW ACT Foundation', cursive;
        color: white;
    }
    .menu-relleno{
        height: 90px;
        width: 100%;
    }
    
    
    
    
    .menu{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 1200px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* background-image: url("./img/madera-fondo.jpg"); */
        background-color: black;
    }
    .menu-c{
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(40, 39, 39);
        margin-right: 510px;
        font-family: 'Edu NSW ACT Foundation', cursive;
    
    } 
    .submenu{
        height: 5%;
        display: flex;
        flex-direction: row;
        background-color: black;
        color: white;
    }
    .submenu1{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .submenu1 p{
        font-size: 30px;
        font-family: 'Edu NSW ACT Foundation', cursive;
    }
    
    .submenu2{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .submenu2 p{
        font-size: 30px;
        font-family: 'Edu NSW ACT Foundation', cursive;
    }
    .submenu3{
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between  ;
    }
    .submenu3-1{
        width: 22%  ;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-around;
        align-items: center;
        font-family: 'Edu NSW ACT Foundation', cursive;
    
    }
    .submenu3-1 p{
        margin: 0;
    }
    .menu-d-1{
        width: 100%;
        height: 9%;
        display: flex;
        flex-direction: row;
    }
    .d-img{
        width: 20%;
    }
    .menu-img{
        width: 100%;
        height: 100%;
    }
    
    .d-ing{
        width: 40%;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
    .ing-n{
        width: 100%;
        height: 30%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ing-n p{
        color: rgb(181, 207, 77);
        font-size: 20px;
    }
    .ing-i{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .ing-i p{
        color: white;
        margin: 0;
    }
    
    .d-por{
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .por{
        width: 22%;
        height: 45%;
        background-color: #efc257;
        text-align: center;
    }
    
    
    
    
    
    
    
    
    
    .menu-d{
        height: 483px;
        width: 35%;
        background-color: rgb(40, 39, 39);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        margin-left: 750px;
    }
    .menu-d1{
        height: 65%;
        width: 100%;
        background-color: rgb(40, 39, 39);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .menu-d1-0{
        height: 19%;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 30px;
    }
    .menu-d1-0-1{
        width: 15%;
    }
    .menu-d1-0-2{
        width: 20%;
    }
    .menu-d1-0-3{
        width: 12%;
    }
    
    .menu-d1-1{
        height: 38%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-d1-2{
        width: 35%;
        background-color: aqua;
    }
    .menu-d1-2 img {
        height: 100%;
        width: 100%;
    }
    .menu-d1-3{
        width: 40%;
        height: 100%;
        display: flex;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        color: white;
        font-family: 'Edu NSW ACT Foundation', cursive;
    }
    .menu3-1{
        height: 25%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: rgb(181, 207, 77);
    }
    .menu3-2{
        height: 75%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    .menu3-2 p{
        margin: 0;
    }
    .menu-d1-4{
        width: 20%;
        background-color: #efc257;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 25px;
    }
    
    
    
    
    
    .menu-d2{
        height: 25%;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-d2 p{
        color: white;
        font-size: 30px;
        font-family: 'Edu NSW ACT Foundation', cursive;
        margin: 0;
    }