*{
    margin: 0;
    padding: 0;
}
.nav-promo{
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.nav-promo1{
    width: 12%;
    height: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-promo1-1{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-promo1-1 img{
    height: 80%;
}
.nav-promo1-2{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-index{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav-promo2{
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-promo2 p{
    color: white;
    font-size: 40px;
}
.nav-promo3{
    width: 10%;
}