body{
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 10px 0px 10px 10px;
    position: fixed;
    
    /* position: relative ; */
}
.logo{
    width: 30%;
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
}
.links{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.logo img{
    height: 200%;
}
.links a{
    padding-right: 15px;
}
.nav-link{
    padding: 36px 150px 36px 36px;
}
.nav-link:hover{
    background-color: #81a832;

}

@media (max-width:700px){
    header{
        flex-direction: column;
        height: 120px;
        align-items: center;

    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 70%;
    }
    .links{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-link{
        padding: 10px 0px 10px 10px;
    }
}
                                  /*CONTENIDO */
/*//////////////////////////////////////////////////////////////////////////////////////////////*/
.relleno{
    height: 90px;
}
.contenido{
    height: 485px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: black;
}
.cont-video{
    height: 100%;
    width: 70%;
    padding: 0;
}
.video{
    height: 100%;
}
.cont-texto1{
    height: 100%;
    width: 30%;
    background-image: url("./img/madera-fondo.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#cont0{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#boton1{
    height: 50%;
    width: 70%;
    margin: 35px 0px 0px 40px;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 10px;
    font-family: 'Fascinate', cursive;
    font-size: 22px;
}
#cont1{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}
.p1{
    height: 8%;

}
#form1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#div-boton{
    height: 5%;
    width: 100%;
    background-image: url("./img/madera-fondo.jpg");
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#boton{
    height: 100%;
    width: 8%;
    background-color: red;
    color: white;
}
#form{
    background-image: url("./img/madera-fondo.jpg");
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.grupo{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.grupo2{
    height: 150px;
    display: flex;
    flex-direction: column;
}

@media (max-width:700px){
    .contenido{
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 100%;
        background-color: black;
    }
    .cont-video{
        height: 50%;
        width: 100%;
    }
    .cont-texto1{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        background-image: url("./img/madera-fondo.jpg");
    }
    #cont-0{
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #boton{
        height: 50%;
    }
    #cont1{
        height: 80%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .relleno{
        height: 136px;
    }
    #form1{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    #div-boton{
        height: 15%;
    }
    #boton{
        height: 100%;
        width: 11%;
    }
    #form{
        height: 85%;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .form{
        height: 100%;

    }
}
                                 /* FOOTER */
/*//////////////////////////////////////////////////////////////////////////////////*/
.footer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* background-image: url("./img/fondo-10.jpg"); */
    background-color: black;
}
.primera{
    height: 80%;
    width: 100%;
    color: #efc257 ;
   /*  background-image: url("./img/fondo-10.jpg"); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contactos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p-contactos{
    height: 20%;
    display: flex;
    justify-content: center;

}
.iconos{
    height: 80%;
    display: flex;
    flex-direction: row;
}
.iconos-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.iconos-2{
    height: 40px;
}
.p-iconos{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.informacion{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info-p{
    width: 60%;

}
.info-l{
    width: 40%;
    display: flex;
    margin-top: 25px;
    justify-content: center;

}
.info-1-img{
    height: 200px;
}
.info-p1{
    display: flex;
    justify-content: center;
    height: 20%;

}
.info-p2{
    display: flex;
    justify-content: center;
    height: 40%;
}
.info-p3{
    display: flex;
    justify-content: center;
    height: 40%;
}
.derechos{
    width: 100%;
    color: #efc257 ;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-derechos{
    padding: 30px;
}
@media(max-width :700px) {
    .footer{
        font-size: 12px;
    }
    .footer{
        height: 400px;
    }
    .primera{
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactos{
        height: 50%;

    }
    .informacion{
        height: 50%;
        width: 100%;
    }
    .info-p{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .info-l{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info-1-img{
        height: 120px;

    }
    .iconos{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    .iconos-2{
        display: flex;
        justify-content: space-around;
        height: 35px;
    }
    .derechos{
        height: 10%;
    }
}
                        /*  formulario de contacto  */
      /* ------------------------------------------------------------------------------ */
      #form1 {
        display: none;
      }



























